footer.footer.pt-5
	.container
		.row.pb-4
			.col-lg-6
				.subtitle.b.mb-3.text-uppercase Залы
				.row
					.col-6
						ul.no-decoration
							li Русская баня Хуторок
							li Сафари-SPA
							li Остров сокровищ
							li Классик ONE
							li Классик TWO
					.col-6
						ul.no-decoration
							li Ривьера
							li Уют без бассейна
							li SPA-номер на двоих
							li Номер стандарт
			.col-lg-6.my-4.mt-lg-0
				.subtitle.b.mb-3.text-uppercase контакты
				.row
					.col-md-8
						ul.no-decoration.contacts-list
							li.b: a.link(href="tel: +73852553355")
								+icon('contacts-phone', 'contacts-icon')
								| Единый номер: <span class="no-wrap">8 (3852) 55-33-55</span>
							li: a.link(href="tel: +73852583358")
								| Банный комплекс: <span class="no-wrap">8 (3852) 58-33-58</span>
							li: a.link(href="tel: +73852466119")
								| Гостиница: <span class="no-wrap">8 (3852) 46-61-19</span>
							li 
								+icon('contacts-addres', 'contacts-icon')
								| Барнаул, ул.Малахова 173а
							li: a.link(href="mailto: laguna-barnaul@mail.ru")
								+icon('contacts-mail', 'contacts-icon')
								| laguna-barnaul@mail.ru
					.col-md-1.d-flex.flex-row.justify-content-around.px-5
						+icon('insta', 'social-icon')
						+icon('vk', 'social-icon')
						+icon('youtube', 'social-icon')
		.copyright.d-flex.justify-content-between.border-top.border-dark.py-3
			div © Лагуна, 2019
			a.link(href="#") Разработка сайта - E1MEDIA

